
.main-menu
{
	background-color: white;
	margin-top: 10px;
	width: 100%;
}
ul.main-ul
{
	display: flex;
	padding: 0;
	justify-content: center;
}
li.main-li
{
	list-style: none;
	padding: 20px;
}
li.main-li a
{
	text-decoration: none;
	font-size: 18px;
	color: #000;
	position: relative;
	padding: 10px;
}
li.main-li a i
{
	margin-right: 10px;
}
li.main-li a::before
{
	content: '';
	width: 0px;
	height: 3px;
	background-color: #FFCE0C;
	position: absolute;
	top: 100%;
	left: 0;
	transition: .5s;
	mix-blend-mode: multiply;
}
li.main-li a::after
{
	content: '';
	width: 0px;
	height: 3px;
	background-color: #272FB2;
	position: absolute;
	top: 100%;
	right: 0;
	transition: .5s;
	mix-blend-mode: multiply;
}
li.main-li:hover a::before
{
	width: 50%;
	transform: translateX(100%);
}
li.main-li:hover a::after
{
	width: 50%;
	transform: translateX(-100%);
}
.siteHeader
{
	font-size: 250%;
	font-family: Monoton,Helvetica;
	color: #333366;
	display: flex;
	padding: 0;
	justify-content: center;
}
.siteText
{
	font-size: 120%;
	font-family: Open Sans Condensed,Calibri;
	color: #3D3D3D;
}
.siteFooter
{
	font-size: 80%;
	font-family: Open Sans Condensed,Calibri;
	color: #000;
	display: flex;
	padding: 0;
	justify-content: center;
}
div
{
	font-size: 50%;
	font-family: Open Sans Condensed,Calibri;
	font-weight: 600;
	color: #000
}
h2
{
	font-size: 150%;
	font-family: Open Sans Condensed,Calibri;
	color: #3D3D3D;
}
hr
{
	color: #333366;
}
.AboutPicture1
{
    width: 400px;
    height: 150px;
}
.AboutPicture2
{
    height: 200px;
    width: 400px;
}
.AboutPicture3
{
    height: 200px;
    width: 400px;
}
.mainPicture1
{
    width: 300px;
    height: 200px;
}
.pictureCenter
{
	text-align: center;
}
.redline
{
	text-indent: 25px;
}
.Dottedline
{
	text-indent: 20px;
}
.headerStyle
{
	font-size: 120%;
	text-indent: 70px;
	font-family: Open Sans Condensed, Calibri;
	font-weight: 600;
	color: #000
}

.navigate-menu
{
	background-color: white;
	margin-top: 10px;
	width: 100%;
	height: 50px;
	padding: 0;
}
ul.navigate-ul
{
	display: flex;
	padding: 0;
	justify-content: left;
	height: 20px;
	width: 1600px;
}
li.navigate-li
{
	list-style: none;
	padding: 20px;
}
li.navigate-li a
{
	text-decoration: none;
	font-size: 15px;
	color: #000;
	position: relative;
	padding: 10px;
}
li.navigate-li a i
{
	margin-right: 10px;
}
li.navigate-li a::before
{
	content: '';
	width: 0px;
	height: 2px;
	background-color: #FFCE0C;
	position: absolute;
	top: 100%;
	left: 0;
	transition: .5s;
	mix-blend-mode: multiply;
}

/*li.navigate-li a::after
{
	content: '';
	width: 0px;
	height: 3px;
	background-color: #272FB2;
	position: absolute;
	top: 100%;
	right: 0;
	transition: .5s;
	mix-blend-mode: multiply;
}*/
li.navigate-li:hover a::before
{
	width: 50%;
	transform: translateX(100%);
}
li.navigate-li:hover a::after
{
	width: 50%;
	transform: translateX(-100%);
}
.chosenColor
{
	background-color: #FFCE0C;
}
.screenPicture
{
	width: 1000px;
    height:600px;
}
.missionPicture
{
	width: 600px;
    height:600px;
}
.smallPicture
{
	width: 900px;
    height:350px;
}